# demo | prisma
ASTRIA_DATABASE_ADAPTER=demo
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/astria"

# demo | authjs | clerk
ASTRIA_AUTH_ADAPTER=demo
AUTH_SECRET="replace-me"
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""

# demo | stripe
ASTRIA_BILLING_ADAPTER=demo
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
